ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  ion-card img {
    width: 150px;
    height: 150px;
  }
  
  ion-card-title {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  ion-card-content p {
    margin: 5px 0;
  }
  